/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto');

body {
    font-family: 'Roboto', sans-serif !important;
    color: #888888 ;
}

.logo {
    font-family: 'Gugi', cursive;
}
